@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
  color: #333;
}
li {
  list-style: none;
}

h2 {
  font-size: 3rem;
}
h2 span {
  color: #090427;
}
#hero {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

button.login {
  float: right;
  margin: 50px 90px;
  padding: 15px 20px;
  background: transparent;
  border: 2px white solid;
  font-size: 20px;
  font-weight: 400;
  color: white;
  letter-spacing: 0.3rem;
}
/* button.login::after {
  clear: both;
} */
button.login:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  transition: all ease-out 0.3s;
}

h1 {
  clear: both;
  margin-top: 150px;
  margin-left: 120px;
  font-size: 7rem;
  font-weight: 700;
  color: white;
}
.line {
  position: absolute;
  top: 190px;
  left: 530px;
  height: 272px;
  width: 5px;
  border: 2px solid yellow;
  background: yellow;
}
.line2 {
  position: absolute;
  top: 190px;
  left: 540px;
  height: 272px;
  width: 5px;
  border: 2px solid yellow;
  background: yellow;
}
h3 {
  margin-left: 570px;
  font-size: 4rem;
  color: white;
}
h3 span {
  margin-left: 160px;
}
p.subhead {
  color: white;
  position: relative;
  font-size: 1.7rem;
  left: 485px;
  top: 10px;
}

form.signup {
  position: absolute;
  top: 240px;
  right: 90px;
  border: 2px white solid;
  border-radius: 10px;
  height: 290px;
  width: 306px;
  background: white;
  box-shadow: 0px 4px 2px 0px rgba(179, 234, 255, 0.004);
}

input[type="text"],
input[type="email"] {
  border: rgb(181, 198, 247) 2px solid;
  border-radius: 10px;
  width: 230px;
  padding: 15px;
  margin: 10px auto 0 auto;
  display: block;
  color: rgb(169, 169, 169);
  background-color: rgb(238, 239, 242);
  width: 270px;
  height: 54px;
  line-height: 1.2;
  font-size: 1rem;
}
input.top {
  margin-top: 20px;
}
button.go {
  border-radius: 10px;
  background: #49c800;
  box-shadow: 0px 1px 0px 0px rgba(17, 112, 0, 0.66);
  width: 130px;
  height: 40px;
  outline: none;
  border: none;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1rem;
  display: block;
  margin: 20px auto;
}
button.go:hover {
  cursor: pointer;
  background: rgb(4, 156, 2);
  transition: all ease-out 0.3s;
}

/* HOW */

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #090427 transparent transparent transparent;
  position: relative;
  top: 0;
  left: 50%;
  transform: rotate(50%, 50%);
}
.how h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.how .container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 60px;
}

.how .container ul img {
  width: 200px;
  border-radius: 50%;
  padding: 40px;
  background: #3300ff;
  display: block;
  margin: 0 auto;
}
.how .container ul h4,
.how .container ul p {
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 60%;
  color: #333;
}

h4 {
  font-size: 1.5rem;
}

hr {
  border: 0;
  height: 2px;
  width: 80%;
  background: #ff2404;
  display: block;
  margin: 5px auto;
}
.why {
  margin-top: 100px;
}
.why ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 80px;
}
ul h2 {
  text-align: center;
}

ul p {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  line-height: 1.85rem;
  font-size: 1.25rem;
}

.what {
  display: block;
  margin: 100px auto;
  text-align: center;
  width: 50%;
  line-height: 1.85rem;
  font-size: 1.25rem;
}
.what p {
  padding: 30px;
}
.what button {
  border-radius: 10px;
  background: #49c800;
  box-shadow: 0px 1px 0px 0px rgba(17, 112, 0, 0.66);
  padding: 15px 50px;
  outline: none;
  border: none;
  color: white;
  letter-spacing: 0.15rem;
  font-weight: 700;
  font-size: 1.2rem;
  display: block;
  margin: 20px auto;
}
.what button:hover {
  cursor: pointer;
  background: rgb(4, 156, 2);
  transition: all ease-out 0.3s;
}

footer .container {
  background: #0500a3;
  height: 160px;
}

footer .container ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

footer .container ul a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
footer .container ul a:hover {
  cursor: pointer;
  color: rgb(251, 255, 0);
  transition: all ease-out 0.3s;
}
footer .container ul p,
footer .container ul li {
  color: white;
  font-size: 1rem;
  padding: 10px;
}
footer .container ul li:nth-child(1) {
  margin-top: 50px;
}
footer .container ul li:nth-child(3) p {
  margin-left: 0;
  padding-left: 0;
  text-align: start;
  margin-bottom: 0;
  letter-spacing: 0.079rem;
}
footer .container ul li:nth-child(2) {
  margin-top: 50px;
  padding: 30px;
}

footer .container img {
  width: 40px;
}
footer .container img:hover {
  cursor: pointer;
  /* border-bottom: 2px solid #49c800; */
  padding-bottom: 20px;
  transition: all ease-out 0.3s;
}
footer .container ul li input {
  margin: 0;
  height: 45px;
  float: left;
}
footer .container ul li input[type="text"] {
  border-radius: 10px 0 0 10px;
  border-color: transparent;
  width: 245px;
}
footer .container ul li input[type="submit"] {
  border-radius: 0 10px 10px 0;
  padding: 10px 30px;
  color: white;
  outline: none;
  background: #49c800;
  border-color: transparent;
  font-weight: 700;
  font-size: 1rem;
}
footer .container ul li input[type="submit"]:hover {
  cursor: pointer;
  background: rgb(4, 156, 2);
  transition: all ease-out 0.3s;
}
