@include mediaXl {
}
@include mediaLg {
  .slidingVertical span {
    margin-left: 0;
  }
  footer {
    ul li {
      form {
        overflow: visible;
        input[type="text"] {
          width: 160px;
        }
      }
      input[type="submit"] {
        padding: 10px;
      }
    }
  }
}

@include mediaMd {
  .content {
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 0;
    form {
      margin: 20px auto;
    }
  }
  .slidingVertical {
    padding: 20px 0 0 0;

    span {
      font-size: 1.5rem;
      padding-left: 0;
    }
  }
  h2 {
    line-height: 3rem;
  }

  #hero {
    nav {
      button {
        margin: 20px;
      }
    }
  }
  .how {
    .box {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
  .why {
    .whyBox {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
  .what {
    width: 80%;
  }
  footer ul {
    grid-template-columns: 1fr;
    justify-items: center;
    li {
      &:nth-child(1) {
        justify-self: center;
      }
      form {
        position: relative;
        height: auto;
        input[type="text"] {
          outline: none;
          width: 100%;
          border-radius: 5px;
          background: #fff;
          border: 1px solid #ccc;
          padding: 3%;
          color: $main-color;
          height: 2.5rem;
        }
        input[type="submit"] {
          position: static;
          width: 100%;
          padding: 15px;
          background: #f8ad0c;
          border: none;
          outline: none;
          color: $sec-color;
          border-radius: 5px;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin: 10px 0;
          &:hover {
            cursor: pointer;
            background: #523a7a;
            @include easeOut;
          }
        }
      }
    }
  }
}
@include mediaSm {
  #hero nav h1 {
    padding: 30px;
  }
  .content {
    .words {
      padding: 0;
    }
    .signup {
      margin: 0;
    }
  }

  .how .box {
    h4,
    p {
      width: 90%;
    }
  }
  .why {
    margin: 0 auto;
    width: 90%;
    .whyBox {
      margin: 0;
    }
  }
}

@include mediaXSm {
  .triangle {
    left: 43%;
  }
  .content form {
    min-width: unset;
  }
  footer {
    ul li {
      p {
        text-align: center;
      }
      p,
      form {
        margin: auto;
      }
    }
  }
}
